@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    102.4deg,
    rgba(253, 189, 85, 1) 7.8%,
    rgba(249, 131, 255, 1) 100.3%
  );
  color: white;
  font-family: Lato, 'Courier New';
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 3vh 0 7vh;
  justify-content: space-between;
  align-items: center;
  min-height: 7vh;
  background-color: rgba(163, 44, 123, 0.288);
}

.navbar-container {
  width: 500px;
  height: 50px;
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
  font-weight: 900;

  list-style: none;
  height: 100%;
  align-items: center;
}
li {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
li:hover {
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}

.logo-container {
  font-weight: 900;
  cursor: pointer;
  font-size: 20px;
}
